@import url('bootstrap');
@import url('bootstrap-icons');

:root {
    --ff-body: "Open Sans", sans-serif;
}

body {
    font-family: var(--ff-body);
}

.container-page {
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
}

.head-logo {
    height: 4rem;
}

.nav-link {
    color: #484a4b;
    font-weight: 700;
    font-size: 0.5rem;
    padding: 2rem 0.5rem;
    border-bottom: 5px solid transparent;
}

.nav-link:hover {
    color: #0282F9;
    border-bottom: 5px solid #0282F9;
}

.bg-dc {
    background: #0282F9;
}

.bg-top-main {
    width: 100%;
    height: 200px;
    background-image: url(./assets/img/jumbotron.jpg);
    background-size: cover;
    position: relative;
}

.current-list {
    position: absolute;
    border: none;
    padding: 0.3rem 0.7rem;
    background-color: #0282F9;
    transform: translateY(-100%);
    left: 7%;
    color: #fffef0;
    font-weight: 600;
    font-size: 0.7rem;
}

.load-list {
    border: none;
    padding: 0.3rem 0.7rem;
    background-color: #0282F9;
    color: #fffef0;
    font-weight: 600;
    font-size: 0.7rem;
}

.list_comics {
    background-color: #303030;
}

.card {
    background-color: #303030;
    border: none;
    padding-top: 1rem;
}

.card-body {
    padding: 0.4rem 0;
    text-transform: uppercase;
}

.card-title {
    font-size: 0.6rem;
    color: #fffef0;
    font-weight: 500;
}

.icon {
    width: 30px;
    height: auto;
}

.dc-footer-top {
    padding-top: 1rem;
    position: relative;
    background-image: url(./assets/img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

ul {
    padding: 0;
    list-style: none;
}

.col {
    font-size: 0.6rem;
}

h5 {
    font-size: 0.6rem;
    color: #fffef0;
}

.dc-foot-link {
    text-decoration: none;
    color: #727c7b;
}

.logo_ft {
    height: 420px;
    position: absolute;
    top: -45%;
    right: 10%;
}

.dc-bottom {
    background: #303030;
    position: relative;
}

.soc-icon {
    width: auto;
    height: 1.5rem;
    object-fit: contain;
}

.singUp {
    border: 3px, solid, #0282F9;
    background-color: #303030;
    color: #fffef0;
    padding: 0.6rem;
    font-weight: 700;
    font-size: 0.6rem;
}

.upper {
    color: #087ef7;
    font-weight: 700;
    font-size: 0.6rem;
}