@import url('bootstrap');
@import url('bootstrap-icons');

:root {
    --ff-body: "Open Sans", sans-serif;
}

body {
    font-family: var(--ff-body);
}

.nav-link {
    color: #484a4b;
}

.bg-dc {
    background: #0282F9;
}

.icon {
    width: 40px;
    height: auto;
}

.dc-footer-top {
    padding-top: 1rem;
    position: relative;
    background-image: url(./assets/img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

ul {
    padding: 0;
    list-style: none;
}

.col {
    font-size: 0.6rem;
}

h5 {
    font-size: 0.6rem;
    color: #fffef0;
}

.dc-foot-link {
    text-decoration: none;
    color: #727c7b;
}

.logo_ft {
    height: 420px;
    position: absolute;
    top: -45%;
    right: 10%;
}

.dc-bottom {
    background: #303030;
    position: relative;
}

.soc-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.btn {
    border: 1px, solid, #0282F9;
    color: #fffef0;
}

span {
    color: #087ef7;
    font-weight: 700;
}